/*

    10 column grid 
    inspired by https://www.cattlegrid.info/2018/06/21/5-column-layout-with-bootstrap-4.html

*/

.col-1dot2,
.col-sm-1dot2,
.col-md-1dot2,
.col-lg-1dot2,
.col-xl-1dot2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-1dot2 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 10% !important;
    flex: 0 0 10% !important;
    max-width: 10% !important;
}
@media (min-width: 576px) {
    .col-sm-1dot2 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 10% !important;
        flex: 0 0 10% !important;
        max-width: 10% !important;
    }
}
@media (min-width: 768px) {
    .col-md-1dot2 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 10% !important;
        flex: 0 0 10% !important;
        max-width: 10% !important;
    }
}
@media (min-width: 992px) {
    .col-lg-1dot2 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 10% !important;
        flex: 0 0 10% !important;
        max-width: 10% !important;
    }
}
@media (min-width: 1200px) {
    .col-xl-1dot2 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 10% !important;
        flex: 0 0 10% !important;
        max-width: 10% !important;
    }
}