.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important;
}
@media (min-width: 576px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}
@media (min-width: 768px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}
@media (min-width: 992px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}
@media (min-width: 1200px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}