/node_modules
/bootstrap/compiled.php
/vendor
/app/config/local/*
/app/config/staging/*
/app/config/production/*
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
public/sitemap.xml
.env
.env.testing
.phpunit.cache
/public/build
/public/fonts
/public/hot
/public/storage
/public/vendor/laravel-filemanager
npm-debug.log
/resources/views/vendor/mail/html/themes

