/node_modules
/bootstrap/compiled.php
/vendor
/app/config/local/*
/app/config/staging/*
/app/config/production/*
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
public/sitemap.xml
.env
.env.testing
.phpunit.result.cache
/public/css/admin.css
/public/css/style.css
/public/css/app-tailwind.css
/public/fonts
/public/hot
/public/js/*LICENSE.txt
/public/js/app.js
/public/js/admin.js
/public/js/vendor.js
/public/js/manifest.js
/public/storage
/public/vendor/laravel-filemanager
mix-manifest.json
npm-debug.log
/resources/views/vendor/mail/html/themes

