/bootstrap/compiled.php
/vendor
/app/config/local/*
/app/config/staging/*
/app/config/production/*
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
app/database/migrations/2014_07_01_193718_create_geonames_names.php
app/database/migrations/2014_07_01_193719_create_geonames_alternate_names.php
app/database/migrations/2014_07_01_193720_create_geonames_countries.php
app/database/migrations/2014_07_01_193721_create_geonames_language_codes.php
app/database/migrations/2014_07_01_193722_create_geonames_admin_divisions.php
app/database/migrations/2014_07_01_193723_create_geonames_admin_subdivisions.php
app/database/migrations/2014_07_01_193724_create_geonames_hierarchies.php
app/database/migrations/2014_07_01_193725_create_geonames_features.php
app/database/migrations/2014_07_01_193726_create_geonames_timezones.php
app/database/migrations/2014_07_01_193727_create_geonames_continents.php
app/database/migrations/2014_07_01_193728_geonames_timezones_new_columns.php
app/database/migrations/2014_07_01_193729_geonames_admin_divisions_longer_code.php
app/database/migrations/2014_07_01_193730_geonames_defaults_and_nullables.php
public/images/autori/*
!public/images/autori/no-image*.jpeg
public/fonts/GT-Walsheim
public/images/kolekcie/*
public/images/clanky/*
caste_prikazy.txt
public/sitemap*
.env
