version: '2'
services:
  web:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
  php:
    build: .
    image: web_umenia
    volumes:
      - .:/var/www
      - ./public:/var/www/html
    depends_on:
      - mysql
      - elasticsearch
      - redis
    env_file: .env
    # 'php' service can speak to mysql and elasticsearch services
    # at these network addresses:
    #  - http://mysql:3306
    #  - http://elasticsearch:9200
    # so we override the standard environment variables here:
    environment:
      DB_HOST: mysql
      ES_HOST: elasticsearch

      REDIS_HOST: redis

  mysql:
    image: mysql:5.6
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql-${DB_DATABASE}:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}

  elasticsearch:
    build:
      context: .
      dockerfile: Dockerfile.elasticsearch
    image: elasticsearch
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      # - ./data/elasticsearch-${ES_INDEX}:/usr/share/elasticsearch/data
       - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      # - ./storage/logs/elasticsearch:/usr/share/elasticsearch/logs
  redis:
    image: redis:5.0.5-alpine
