.grid-cell-speaker{
	background-repeat: no-repeat;
	background-position-x: right;
	overflow: hidden;
	height: 300px;
	&:hover .grid-cell-speaker-artwork {
		left: 100%;
	}
	.grid-cell-speaker-artwork {
		position: relative;
		left: 0;
		transition: left 0.3s;
		border: solid transparent 2px;
	}
	.grid-cell-speaker-name {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}