.slick-list,
.slick-track,
.slick-slide,
.slick-slide img,
.slick-slide a,
.content-slick-images p, .content-slick-images p img {
    padding: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    display: block;
}
.content-slick-container div {
    white-space: nowrap;
    max-width: unset;
}