@font-face {
    font-family: 'FugueSNG';
    src: url('../fonts/fugue_regular-webfont.eot');
    src: url('../fonts/fugue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fugue_regular-webfont.woff') format('woff'),
         url('../fonts/fugue_regular-webfont.ttf') format('truetype'),
         url('../fonts/fugue_regular-webfont.svg#fugueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
	content: "\e600";
}
.icon-clock:before {
	content: "\e601";
}
.icon-ticket:before {
	content: "\e602";
}
.icon-phone:before {
	content: "\e603";
}
