/*==========================================================================
RESPONSIVE
========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {
h1 {font-size: 50px;line-height: 58px;color: #111;}
h2 {font-size: 32px;line-height: 40px;}
h3 {font-size: 28px;line-height: 36px;}
.separator-title{margin-top:0px;margin-bottom:0px;position:relative;}
.separator-title span.separator-subheader{top:18px;}
.separator-title h2.separator-mainheader{top:-22px;}
nav {width: 768px;}
nav .signup {margin-right:0px;}
.header-image{background-color:#333;height:400px;width:100%;}
#homepage{height:400px;}
blockquote {width: 700px; margin: 0 auto;}
.painting-description{width:196px;}
.painting .painting-thumb {width:236px;height:236px;}
.painting .painting-thumb img {width:236px;height:236px;}
.topsponsor-single-withtext{width:172px;}
.topsponsor-single-withtext img{width:172px;}
.downloads-list .day{width: 100px;float: left;display: inline;margin-right: 0px;}
.downloads-list .time{width: 180px;float: left;display: inline;margin-left: 20px;margin-right: 0px;}
.downloads-list .details{width: 428px;float: left;display: inline;margin-left: 20px;margin-right: 0px;}
.video-embed{width:364px;height:240px;}
.route-title {float:left;width:184px;height:32px;margin-right:10px;}
dl.Zebra_Accordion {width: 748px;font-family: "Oxygen";font-size: 12px;float:left;margin:0px 10px 20px 10px;}
#homepage .container {/*height: 100%;*/top:150px;bottom:0;}
#event-widget{margin-top:20px;}
.ticketmodal{margin:10px;}
hr.dividerline {width: 748px;margin:10px 10px 20px 10px;}
.ticketmodal-close{margin-right:10px;}
footer .footer-border{border-top: dotted 1px #ccc;height:1px;width:100%;margin-top:0px;float:left;}
footer .copyright p{font-size:12px;}
footer .footer-inside{text-align:center;padding:0px 0px 0px 0px;}
.smallsection-textwithbutton {padding:25px 0px;}
.statistic-desc{width:145px; height:30px;float:right; padding:5px 10px;}
.statistic{min-height:50px;background-color:#FFF;}

/*SMALL SECTION*/
.heading-text-nodesc{height:40px;margin-top:50px;}

}

@media only screen and (max-width: 767px) {
h1 {font-size: 46px;line-height: 54px;color: #111;}
h2 {font-size: 28px;line-height: 36px;}
h3 {font-size: 24px;line-height: 32px;}
.left-wrapper {text-align: center;}
.right-wrapper {text-align: center;}
.intro-type1{position: fixed;top: 50%; left: 50%; text-align:center; margin-top: -130px;margin-left: -200px; height:260px; width:400px;}
#homepage .container {height: 100%;top:30px;bottom:0;}
hr.dividerline {width: 400px;margin:10px 10px 20px 10px;}
.separator{background-color:#eee;height:3px;}
.separator-title{margin-top:0px;margin-bottom:0px;position:relative;}
.separator-title span.separator-subheader{top:18px;}
.separator-title h2.separator-mainheader{top:-20px;padding-right:10px;}
.about-video{padding-bottom:20px;}
blockquote {width: 400px; margin: 0 auto;}
.downloads-list .day{width: 80px;float: left;display: inline;margin-right: 0px;}
.downloads-list .time{width: 130px;float: left;display: inline;margin-left: 0px;margin-right: 0px;}
.downloads-list .details{width: 188px;float: left;display: inline;margin-left: 0px;margin-right: 0px;}
.header-image img{width:420px;}
#homepage{height:350px;}
.heading-text{height:70px;padding-top:50px;}
.heading-text-price{height:70px;padding-top:50px;}
.ticketmodal{margin:0px;}
.ticketmodal-close{margin-right:10px;}
dl.Zebra_Accordion {width: 400px;margin:0px 10px 20px 10px;}
footer .footer-border{margin-top:25px;}
footer .copyright{text-align:center;}
footer .social-footer{text-align:center;margin:0 auto;}
footer .footer-inside{text-align:center;padding: 30px 0px 0px 0px;}
footer .footer-inside.end{text-align:center;padding: 0px 0px 10px 0px;}
.topsponsor-section{height:410px;}
.topsponsor-single-withtext{height:80px;padding-top:20px;float:left;}
.video-embed{width:400px;height:400px;}
.bordered {margin:0px 0px;width:420px;}
.twitter{padding-top:25px;}
.routeby {padding-bottom:10px;}
.routeby:last-of-type{padding-bottom:0px;}
.sponsor{padding-top:20px;}
.about-info{padding-bottom:10px;}
.about-video{padding-top:10px;float:left;}
.quote{padding-top:25px;}
.painting .painting-thumb {width:400px;height:400px;}
.painting .painting-thumb img {width:400px;height:400px;}
.painting{padding-bottom:20px;}
.painting:last-of-type{padding-bottom:20px;}
nav{height:60px;width:100%; /*width:420px;*/}
nav ul{display:none;}
.social-icons{margin: 0 auto;text-align:center;float:none;}
footer .social-footer{margin-top:0px;padding:0px 0px 0px 0px;height:35px;margin-bottom:10px;}
nav select {display: inline-block;background: #444;-webkit-appearance:none;cursor:pointer;background-image:url(../images/icons/menu.png);-moz-appearance:none;appearance:none;height:25px;width:25px;float:left;overflow: hidden;-webkit-border-radius: 0px;border-radius: 0px;moz-border-radius:0px;border:none;margin-top:17px;outline:none;padding:0px 10px;color:#FFF;text-indent:-9999px;}
nav select:hover{background-color:#E74C3C;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
nav ul#onepagenav a{display:none;}
.price-column {float: left;width: 100%;margin-bottom:20px;}
.statistic{margin-bottom:100px; float:left;border-bottom:solid 1px #eee;}
.ticketing{background-color:#FFF;min-height:140px;border-bottom:solid 1px #eee;}
.ticketbox-list{padding:5px 0px;}
.newsletter{text-align:center;min-height:135px;}
.newsletterform input{background: #fff;padding: 10px 10px 10px 10px;margin-top: 10px;font-size: 14px;font-family: "Open Sans";width:250px;outline: none;color: #555;font-size: 13px;font-weight: 400;box-sizing: border-box;resize: none;}
.newsletterform{width:420px;height:50px;margin:0px auto;}

/*MUSIC*/
/*TOUR SCHEDULE*/
.tourdownloads-list{background-color:#fff;border-bottom:dotted 1px #ccc;}
.tourdownloads-list.odd{background-color:#f3f3f3;}
.tourdownloads-list .date{width: 100%;float: left;display: inline;margin-right: 0px; padding-top:10px;}
.tourdownloads-list .name{width: 100%;float: left;display: inline;margin-right: 0px; }
.tourdownloads-list .venue{width: 100%;float: left;display: inline;margin-right: 0px; }
.tourdownloads-list .details{width: 100%;float: left;display: inline;margin-right: 0px; padding-bottom:10px;}
.tourdownloads-list .date div, .tourdownloads-list .name div, .tourdownloads-list .venue div, .tourdownloads-list .details div{padding:5px 15px 5px 15px;}
.topinfo-section{background-color:#000;width:100%;min-height:100px; text-align:center;padding:10px 0px; float:left;}
.heading-text-nodesc{height:40px;padding-top:50px;}

}

@media only screen and (max-width: 479px) {
h1 {font-size: 42px;line-height: 50px;color: #111;}
h2 {font-size: 24px;line-height: 32px;}
h3 {font-size: 20px;line-height: 28px;}
h4 {font-size: 18px;line-height: 26px;}
.heading-text{min-height:50px;height:auto; margin-bottom: 0px; }
.heading-text.long{min-height:85px; }
.intro-type1{position: fixed;top: 50%; left: 50%; text-align:center; margin-top: -120px;margin-left: -140px; height:240px; width:280px;}
.downloads-list .day{width: 100%;float: left;display: inline;margin-right: 0px;}
.downloads-list .time{width: 100%;float: left;display: inline;margin-left: 0px;margin-right: 0px;}
.downloads-list .details{width: 100%;float: left;display: inline;margin-left: 0px;margin-right: 0px;}
.downloads-list .day div, .downloads-list .time div, .downloads-list .details div{padding:15px 15px 0px 15px;}
nav{height:60px;width:100%;/*width:300px;*/}
hr.dividerline {width: 280px;margin:10px 10px 20px 10px;}
dl.Zebra_Accordion {width: 280px;margin:0px 10px 20px 10px;}
#twittersection {min-height:140px;}
.video-embed{width:280px;height:280px;}
.painting .painting-thumb {width:280px;height:280px;}
.painting .painting-thumb img {width:280px;height:280px;}
blockquote {width: 280px; margin: 0 auto;}
.quote{margin-top:0px;padding-top:15px;}
#quotesection {height: 180px;}
#homepage{height:280px; background-image: none;}
#homepage .home-bigtext p{font-size:14px;}
#homepage .container {height: 100%;top:20px;bottom:0;}
#twittersection {min-height:220px;}
.separator-title h2.separator-mainheader{top:-17px;padding-right:10px;}
.ticketing{background-color:#FFF;min-height:140px;border-bottom:solid 1px #eee; }
.newsletter{text-align:center;min-height:165px;}
.newsletterform input{background: #fff;padding: 10px 10px 10px 10px;margin-top: 10px;font-size: 14px;font-family: "Open Sans";width:180px;outline: none;color: #555;font-size: 13px;font-weight: 400;box-sizing: border-box;resize: none;}
.newsletterform{width:280px;height:50px;margin:0px auto;}
footer .copyright{text-align:center;min-height:48px;}
.route-title {float:left;width:164px;height:32px;margin-right:10px;}
.statistic-desc{width:190px;height:60px;float:right; padding:5px 10px;}
}
