.artwork-carousel-container {
  position: relative;
  padding-left: 15px; 
  padding-right: 15px; 
  margin-left: -15px;
  margin-right: -15px;
}

.artworks-preview {
  width: 100%;
  overflow: hidden;
  height: 165px;
  &.preview {
    height: 800px;
  }
  &.large {
    height: 200px;
  }
  &.small {
    height: 100px;
  }
  a {
    margin-right: 10px;
    display: inline-block;
  }
}