.colorlist {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  .colorlist-item {
    margin: 2px;
    height: 30px;
    min-width: 30px;
  }
}