// Variables

// @primary: #76791b;
@primary: #484224;
@dark: #555954;
@light: #fff;
@red: #76791b;

@icon-font-path:  "../fonts/";

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

@font-family-sans-serif:   "dederon_s_d_otbold", Helvetica, Arial, sans-serif;
@font-family-serif:       "Minion",Georgia, "Times New Roman", Times, serif;

@font-family-base:        @font-family-serif;

// LESS

body {
    width: 100%;
    height: 100%;
    color: @dark;
    background-color: @light;
}

html {
    width: 100%;
    height: 100%;
}

// Typhography

h1,
h2,
h3,
h4,
h5,
h6, img.xko {
    margin: 0 0 20px;
    // text-transform: uppercase;
    font-family: "dederon_s_d_otbold",Dederon,Arial,sans-serif;
    font-weight: 700;
}

h1 {
    letter-spacing: 6px;
    font-size: 36px;
    text-transform: uppercase;
}
h2 {
    letter-spacing: 4px;
    font-size: 24px;
}


a {
    color: @dark;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: @primary;
}

.light {
    font-weight: 400;
}

 // Navigation

.navbar {
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: @primary;
    
    a {
        color: @light;
    }
    a:hover {
        color: @primary;
    }

    &.dark-text {
        a {
            color: @dark;
        }
        a:hover {
            color: @primary;
        }

    }

}


.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.8);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: @light;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: @primary;
    }
}

.content-section {
    padding-top: @grid-gutter-width;
}

.top-section {
    padding-top: 150px;
}


 // Full Page Image Intro Section

 .intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    color: @light;
    background: url(../images/vizual-bg.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    h3 {
        letter-spacing: 3px;
        font-size: 16px;
        text-transform: uppercase;
    }
}

.intro-body {
    display: table-cell;
    vertical-align: top;
    padding-top: 70px;
}

.intro-text {
    font-family: "dederon_s_d_otbold",Dederon,Arial,sans-serif;
    font-size: 24px;
    letter-spacing: 8px;
    line-height: 46px;

}

.featured-collection {
    display: inline-block;
    position: relative;
    margin-bottom: @grid-gutter-width;
    background-color: @primary;
    color: @light;

    .img-responsive{
        -webkit-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
        transition: opacity .5s ease-in-out,padding .5s ease-in-out;

    }

    &:hover > .img-responsive{
        opacity: 0.5;
    }

    h4 {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;
        text-shadow: 0 0 5px rgba(0,0,0,0.125);     
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 24px;
    }   

    &:hover > h4 {
       color: @light;
    }

}

#map {
    width: 100%;
    height: 200px;
    margin-top: @grid-gutter-width;
}

@media(min-width:767px) {
    #map {
        height: 400px;
    }
}

.item-title {
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: @grid-gutter-width;
}