// Variables

// @primary: #76791b;
@primary: #484224;
@dark: #555954;
@light: #fff;
@red: #ce2525;

@icon-font-path:  "../fonts/";

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

@table-border-color:            #eee;

@font-family-sans-serif:   "GTWalsheim", sans-serif;
@font-family-serif:       "Minion", Georgia, "Times New Roman", Times, serif;

@font-family-base:        @font-family-sans-serif;

@input-border: #888;
@state-success-bg: @input-border;

@state-success-text:             #555;
@state-success-bg:               #c8ddf1;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

// LESS

body {
    width: 100%;
    height: 100%;
    color: @dark;
    background-color: @light;
}

html {
    width: 100%;
    height: 100%;
}

// Typhography

h1,
h2,
h3,
h4,
h5,
h6, img.xko {
    margin: 0 0 20px;
    // text-transform: uppercase;
    font-family: @font-family-sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
    letter-spacing: 6px;
    font-size: 36px;
    text-transform: uppercase;
}
h2 {
    letter-spacing: 4px;
    font-size: 24px;
}
h3 {
    letter-spacing: 3px;
    font-size: 16px;
    text-transform: uppercase;
}

@media(min-width: @screen-md-min) {
    h1 {
        font-size: 56px;
        margin-top: 25px;
    }
    h2 { font-size: 36px; 
        &.nadpis-dielo {
            font-size: 32px;
        }
    }
    h3 { font-size: 24px; }
}

@media(min-width: @screen-lg-min) {
    h1 {
        font-size: 64px;
        margin-top: 45px;
    }
    h2 { 
        font-size: 42px; 
        &.nadpis-dielo {
            font-size: 36px;
        }
    }
    h3 { font-size: 28px; }
}

a {
    color: @dark;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &.white {
        color: @light;
    }
}


a:hover,
a:focus {
    text-decoration: none;
    color: @primary;
}

.light {
    font-weight: 400;
}

 // Navigation

.navbar {
    margin-bottom: 0;
    background-color: @dark;
    font-family: @font-family-sans-serif;
    
    a, .dropdown-menu a {
        color: @light;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;        
    }
    a:hover, a:focus, .active a {
        color: @dark;
        outline: 0;
        // background-color: #eee;        
    }
    .dropdown-menu a {
        color: @dark;
        text-transform: none !important;
        padding: 10px 15px;
    }


    a.navbar-brand, a.navbar-brand:hover {
        background: none;
    }
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: @light;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

@media(min-width: @screen-sm-min) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

        &.dark-text {
            a {
                color: @dark;
            }
            a:hover, a:focus, a.active {
                color: @primary;
            }

        }

    }

    .top-nav-collapse {
        padding: 0;
        background-color: @light;
        a {
            color: @dark;
        }
        a:hover {
            color: @primary;
            background-color: rgba(0,0,0,.8);
        }

    }
}

.content-section {
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;
}

.top-section {
    padding-top: 130px;
}


 // Full Page Image Intro Section

 .intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    color: @light;
    background: url(../images/vizual-bg.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    &.intro404 {
        background: url(../images/vizual-404.jpg) no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

.intro-body {
    display: table-cell;
    vertical-align: top;
    padding-top: 70px;
}

.info-body {
    padding-top: 70px;
}

.intro-text {
}

.intro-footer {
   margin-top: 40px;
}

.featured-collection {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: @grid-gutter-width;
    background-color: @primary;
    color: @light;

    .img-responsive{
        -webkit-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
        transition: opacity .5s ease-in-out,padding .5s ease-in-out;

    }

    &:hover > .img-responsive{
        opacity: 0.5;
    }

    h4 {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;
        text-shadow: 0 0 5px rgba(0,0,0,0.125);     
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 24px;
    }   

    &:hover > h4 {
       color: @light;
    }

}

.img-dielo {
    margin: 0 auto 15px auto;
}

#map, #big-map {
    width: 100%;
    height: 200px;
    margin-top: @grid-gutter-width;
}

@media(min-width: @screen-sm-min) {
    #map, #big-map {
        height: 400px;
    }
}

.item-title {
    padding: 10px;
    margin-bottom: @grid-gutter-width;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;        
    &:hover {
        // background-color: #f3f3f3;
    }
}

.item {
    .btn {
        margin: 10px 5px 20px 5px;
    }
}

table a:not(.btn):not(.readmore-js-toggle):not(.no-border), .attributes a:not(.btn):not(.readmore-js-toggle):not(.no-border), .underline {
    border-bottom: 1px solid #ccc;

    &:hover {
        border-bottom: 1px solid #000;
    }
}

.uppercase {
    text-transform: uppercase;
}

.sans {
    font-family: @font-family-sans-serif;
}

.atribut {
    color: #888;
    font-style: italic;
}

#small-map {
    width: 100%;
    height: 200px;
}

.gm-style{    
    font-family: @font-family-serif; font-weight:bold;text-decoration:none;
    em {
        font-weight: normal;
    }
}
.gm-style-iw {padding-top: 10px;
    img {
        max-width: 150px;
        margin-bottom: 10px;
    }
}

.footer {
    padding: 10px; 
    p {
        font-size: 12px;
        margin: 0;  
    }
}

.info {
    a {
        border-bottom: lighten(@primary, 60%) solid 1px; 
        &:hover, &:active {
            border-bottom: #000 solid 1px; 
        }
    }
    .atribut {
        font-style: normal;
        color: @primary;
    }
}

p.medium {
    font-size: 17px;
}

.bottom-space {
    margin-bottom: 20px;
}

.navbar .navbar-brand{
    text-transform: none;
    &.text-small{
        font-size: 16px;
    }
}

.scroll-to {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -20px;
    text-align: center;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 20px;

    &.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 25px;
        font-size: 18px;
        line-height: 1.33;
    }  
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
    &.btn-primary {
        color: #428bca;
    }
}



// ISOTOPE

.catalog {
    .pagination {
        // display: none;
        // visibility: hidden;
    }
}

#iso {
    margin: 0 auto;
    width: 100%;
}
 
input#search { min-width: 260px; }

.right-inner-addon {
    position: relative;
    
    input {
        padding-right: 10px; 
    }

    input[type=submit] {
        position: absolute; left: -9999px
    }

    i {
        position: absolute;
        right: 15px;
        padding: 10px 12px;
        pointer-events: none;
        z-index: 1000;
    }

}

.badge-notify {
   position:relative;
   top: -15px;
   left: 0px;
   background: @red;
   // font-family: @font-family-sans-serif;
   // padding: 3px 5px 5px 7px;
   padding: 3px 6px 5px 6px;
   min-width: 20px;
   text-align: center;
   // font-size: 12px;
}

#top {
    position: fixed;
    bottom: 35px;
    right: 25px;
    z-index: 99999;
    display: none;
}

.cc-icons {
    img {
        max-width: 40px;
        padding: 5px;
    }
}

#filter {
    .btn {
        width: 100%;
    }
    .year-range {        
        padding-top: 6px;
    }
}

.shareon-container{margin:0px; position: absolute; bottom: 15px; right: 0; text-align: left; width: 100%; vertical-align: top;}
.fb-like {height:20px; vertical-align: top;}
.collection.top-section {
    padding-bottom: 0;
}
.collections.content-section {
    padding-top: 0;
}
.description {
    text-indent: 50px;
}

.share {
    margin-top: 20px;
}

.twitter-share-button { width: 80px !important; }

.author-title {
    margin-top: 30px;
    strong {font-size: 18px;}
}
.img-responsive-width {
    min-height: 100%;
    max-height: 165px;
    width: auto;
}
.artworks-preview {
    width: 100%;
    overflow: hidden;
    max-height: 165px;
    &.large {
       max-height: 300px; 
       .img-responsive-width {
            max-height: 300px; 
       }
    }
    img {
        margin-right: 10px;
    }
}

.author .description {
    margin: 40px 0;
}

.alphabet {
    a {
        font-size: 14px;
        padding: 2px 4px;
        border: 2px solid transparent;
        &.active, &:hover { border: 2px solid }    
    }
    
}

// ********** zooom ********** 
#zoomed {
    .return {
      font-family: @font-family-base;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      z-index: 1000;
      margin: 20px;
      left: 0;
      top: 0;
      color: #fff;
      background: #222;
      opacity: 0.7;
      /*border: none;*/
      &:hover {
        background-color: @light;
        color: @dark;
        opacity: 0.9;
      }
    }

    #toolbarDiv {
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 20px;
        text-align: right;
        z-index: 10000000;
        a {
            display: inline-block;
            color: @light;
            font-size: 18px;
            background: #222;
            opacity: 0.6;
            padding: 4px 7px 2px;
            margin-left: 5px;
            vertical-align: middle;
            &#home {display: none !important; }
            &:hover { opacity: 0.9; }
        }
    }

    .credit {
      position: absolute;
      margin: 20px;
      padding: 10px;
      right: 0;
      bottom: 0;
      color: #fff;
      background: #222;
      /*font-weight: normal;*/
      opacity: 0.6;
      font-family: @font-family-base;
      /*text-transform: uppercase;*/
      letter-spacing: 2px;

      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
    }
    .credit:hover{ opacity: 0.9; }
}