@font-face {
    font-family: 'monopolsemibold';
    src: url('../fonts/monopol-thin-bold-webfont.woff2') format('woff2'),
         url('../fonts/monopol-thin-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}