// vertical padding for all columns
.col, *[class^='col-'], *[class*=' col-']{
    padding-top: 15px;
    padding-bottom: 15px;
}

// black borders for all columns
// use class border-0 to selectively disable borders to prevent doubling width
.col, *[class^='col-'], *[class*=' col-']{
    border-bottom: $border-width solid $border-color;
    border-right: $border-width solid $border-color;
}

// at width of 1920px the 10 column area will be 1600px wide
.mw-1920 {
	max-width: 1920px;
}