// vertical padding for all columns
.col, *[class^='col-'], *[class*=' col-']{
    padding-top: 15px;
    padding-bottom: 15px;
}

// black borders for all columns
// use class border-0 to selectively disable borders to prevent doubling width
.col, *[class^='col-'], *[class*=' col-']{
    border: 2px solid #000;
}