/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

*/

.static { position: static; }
.relative  { position: relative; }
.absolute  { position: absolute; }
.fixed  { position: fixed; }