// GENERIC
@font-size-content: 20px;
@font-size-content-base-sans-serif: 18px;
@line-height-content: 1.5em;


@media (min-width: 1200px) {
    .container-fluid {
        max-width: 85vw;
    }
}
.long_expandable + .readmore-js-toggle {
    padding-top: .5em;
    text-align: center;
}

.long-text {
    font-family: @font-family-serif;
    font-size: @font-size-content;
    line-height: @line-height-content;
    color: @dark;
    // TODO remove with old styles
    text-indent: 0;

    p {
        font-size: @font-size-content;
        line-height: @line-height-content;
        margin: 1.25em auto;
        max-width: 40em;
    }

    &.lead {
        font-weight: normal;
    }

    big {
        font-size: 1.3em;
        line-height: 1.61em;
    }

    p > a > img:only-child {
        margin-bottom: 0;
    }
}

.content-header {
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;
    @media screen and (max-width: @screen-sm-max) {
        padding-bottom: 0;
        margin-bottom: -@grid-gutter-width;
    }
    font-family: @font-family-sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: @dark-grey;
    .row > div {
        margin: auto;
        height: 3.5em;
        padding-left: 0;
        padding-right: 0;
    }
    a,
    button {
        color: @dark-grey;
        margin: auto;
    }
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

// ARTICLE
// COLLECTION



// ITEM
.img-dielo {
    font-size: 16px;
}
