// GENERIC
.content-slick {
    overflow-y: hidden;
    padding: 0  @padding-base-horizontal ;
    .slick-track,
    .slick-list,
    .slick-slide,
    .slick-slide img {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .slick-title{
        font-size: 80%;
    }
}
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 85vw;
    }
}
.long_expandable + .readmore-js-toggle {
    padding-top: 0.5em;
    text-align: center;
}

.long-text {
    font-family: @font-family-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: @dark;
    text-indent: 0;

    p {
        font-size: 20px;
        line-height: 1.5em;
        margin: 1.25em auto;
        max-width: 40em;
    }

    &.lead {
        font-weight: normal;
    }

    big {
        font-size: 1.3em;
        line-height: 1.61em;
    }

    p > a > img:only-child {
        margin-bottom: 0;
    }
}

.content-header {
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;
    @media screen and (max-width: @screen-sm-max) {
        padding-bottom: 0;
        margin-bottom: -@grid-gutter-width;
    }
    font-family: @font-family-sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: @dark-grey;
    .row > div {
        margin: auto;
        height: 3.5em;
        padding-left: 0;
        padding-right: 0;
    }
    a,
    button {
        color: @dark-grey;
        margin: auto;
    }
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

// ARTICLE
// COLLECTION

// ITEM
.img-dielo {
    font-size: 16px;
}
