.inline_input {
  position: relative;
  display: inline-block;
  line-height: @line-height-base;
  
  &.text-4xl {
    font-size: 72px;
    line-height: 1.2;
  }

  &.text-xl {
    font-size: @font-size-h2;
  }

  &.text-lg {
    font-size: @font-size-content;
    line-height: @line-height-content;
  }

  &.font-serif {
    font-family: @font-family-serif;
  }

  & > &__spacer {
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  & > &__textarea-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    & > textarea {
      @affordance-border: 1px solid @mid-grey;
      
      width: 100%;
      height: 100%;
      overflow: hidden;
      resize: none;
      border: none;
      padding: 0;
      outline: none;
  
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.3s ease;

      .text-center& {
        text-align: center;
      }

      .border& {
        border-bottom: @affordance-border;
      }

      &:hover {
        border-bottom: @affordance-border;
      }
  
      &:focus {
        border-bottom: @affordance-border;
        border-color: @primary-color;
      }
    }
  }

}
  