.inline_input {
  @text-align: center;

  position: relative;
  text-align: @text-align;
  display: inline-block;

  &.text-xl {
    font-size: 72px;
    line-height: 1.2;
  }

  &.text-lg {
    font-size: @font-size-large;
    line-height: 1.2;
  }

  & > &__spacer {
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
  }

  & > &__textarea-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    & > textarea {
      @affordance-border: 1px solid @mid-grey;
      
      width: 100%;
      height: 100%;
      overflow: hidden;
      resize: none;
      border: none;
      padding: 0;
      outline: none;
      text-align: @text-align;
  
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.3s ease;

      &:hover {
        border-bottom: @affordance-border;
      }
  
      &:focus {
        border-bottom: @affordance-border;
        border-color: @primary-color;
      }
  
      &.border {
        border-bottom: @affordance-border;
      }
    }
  }

}
  