.linked-combos {
    width: 100%;
}
.linked-combos_row {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
}
.linked-combos_row > div {
    flex: 0 0 47%;
    max-width: 47%;
    margin-right: 0.5em;
}

.linked-combos_row > button {
    flex: 0 0 2ex;
    max-width: 6%;
    margin: auto;
}

.vs__dropdown-toggle {
    white-space: nowrap;
    height: 2.2em;
    margin: 0.3em 0;
}
