name: Deploy latest release to production

on:
  release:
    types: [released]

concurrency: deploy_production

jobs:
  test:
    uses: ./.github/workflows/_test.yml

  deploy:
    environment: production
    needs: test
    name: Deploy to Production
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer
      - name: Add production host to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H webumenia.sk >> ~/.ssh/known_hosts     


      - name: Install Deployer
        run: |
          curl -LO https://deployer.org/deployer.phar
          chmod +x deployer.phar
          sudo mv deployer.phar /usr/local/bin/dep

      - name: Deploy to Production
        uses: deployphp/action@v1
        with:
          private-key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          known-hosts: ${{ secrets.DEPLOY_SSH_KNOWN_HOSTS }}
          deployer-version: 7.0.0-rc.8
          dep: deploy production --tag ${{ github.event.release.tag_name }}


